@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    /* border: none !important; */
}

/* Defualt options for pages */
html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    color: #fff;
    background-color: #2F303A;
}

.container {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    z-index: 0;
}

/* Default options for links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: gray;
}

/* Logo and navigation */
header {
    margin: 25px auto;
    padding: 1em 6em 0 1.875em;
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.brand-name-logo {
    margin-left: .9em;
    font-size: 2em;
    letter-spacing: 3px;
}


ul > li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
    font-size: 1.5em;
}


/**
       Index style page
**/


/* Girl and text of page "feel the music...*/


.mainIndex{
    margin: 0 auto;
    /* padding: 0; */
    max-width: 1700px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    bottom:0;
    left:0;
    right:0;

}

.landpage-girl {
    margin-left: 120px;
}


.landpage-girl, .landpage-girl img  {
    margin-right: 120px;
    max-width: 500.91px;
    padding: 0;
    order: 1;

}

/* .landpage-girl img {
    border: 1px solid red;

} */

.introduction {
    padding: 0 0 200px;
    flex-grow: 4;
    text-align: center;
    order: 2;
    z-index: 0;
}

 .introduction2 {
    margin-left: 150px;
}

h1 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    letter-spacing: 10px;
}

p {
    margin: 0 auto 1em;
    font-weight: 300;
    letter-spacing: .156em;
    font-size: 1.6875em;
}

/* Button for "Join now" */

.btn-join {
    margin: 10px auto 0;
    padding: 8px 108px;
    background-color: #1762A7;
    color: #fff;
    font-size: 1.6875em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.btn-join:focus {
    outline: 0;
}

.btn-join:hover {
    background-color: #1b7cd8;
    color: rgb(221, 221, 221);
}

/* Bubbles */

.bubbleBlue1 {
    top: 15%;
    left: 48%;
    position: absolute;
    padding: 120px;
    border-radius: 200px;
    background-color: rgba(23, 98, 167, 0.1);
    z-index: -1;
}

.bubbleBlue2 {
    top: 72%;
    right: -3%;
    position: fixed;
    padding: 200px;
    border-radius: 200px;
    background-color: rgba(23, 98, 167, 0.1);
    z-index: -1;
}

.bubblePink1 {
    padding: 150px;
    position: fixed;
    top: -9%;
    right: -2.5%;
    background-color: rgba(188, 58, 128, 0.1);
    border-radius: 200px 0 180px 200px;
    z-index: -1;
}

.bubblePinkGirl {
    padding: 154px;
    background-color: rgba(188, 58, 128, 0.1);
    position: absolute;
    top: 49%;
    left: 4%;
    border-radius: 200px;
    z-index: -1;
}

/**
    Feature style page
**/

.containerFeature {
    min-height: calc(100vh - 145px);
}
.mainFeature {
    display: flex;
    flex-flow: nowrap;
    margin: 50px auto 0;
    max-width: 1345px;
}

/* Style of fonts */

.chartsFeature {
    display: flex;
    flex-flow: column nowrap;
}

.titleFeature {
    margin-left: 25px;
    font-weight: lighter;
    font-size: 3em;
    letter-spacing: 0.11em;
}

.Charts-box-feature {
    margin-right: 242px;
    display: flex;
    margin-bottom: 70px;
}

.Charts-box-feature img {
    margin: 20px auto 0;
    width: 64.67px;
    height: 64.42px;
}



.Charts-box-feature li {
    margin: 0 0 0 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: #202027;
    width: 129.33px;
    height: 144.14px;
}

.Charts-box-feature li:first-child {
    margin-left: 0;
}

.chart-p {
    margin-top: 27px;
    font-size: 18px;
}

.foot-chart-box {
    max-width: 705px;
    margin-left: 25px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.11em;
}

.image-frame img {
    width:529px;
    height: 529px;
}

footer {
    padding: 25px;
    background-color: #282830;
    text-align: center;
}

/**
    signUp style
**/

.mainSignUp {
    margin: 62px auto 112px;
    max-width: 1300px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.titleSignUp {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    margin-right: 100px;
}

.titleSignUp h2 {
    font-size: 72px;
    font-weight: 300;
    justify-content: center;
    align-content: center;
}

span {
    font-size: 96px;
    color: #BC3A80;
    font-weight: 400;
}

.joinBox {
    background-color: #202027;
    width: 654px;
    height: 457px;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.joinBox .pass {
    display: flex;
    flex-direction: column;
}

.pass input {
    font-size: 22px;
    color: #fff;
    margin: 10px 0 10px;
    width: 529px;
    height: 48px;
    border-radius: 10px;
    border: 5px solid #1762A7;
    background-color: #202027;
    outline: 0;
}

.pass {
    font-size: 22px;
}

.btn-JoinNow input {
    margin: 25px auto 0;
    padding: 8px 108px;
    background-color: #1762A7;
    color: #fff;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.btn-JoinNow input:focus {
    outline: 0;
}

.btn-JoinNow input:hover {
    background-color: #1b7cd8;
    color: rgb(221, 221, 221);
}

/**
    Footer Style
**/

footer li {
    font-weight: 500;
    margin-right: 120px;
}

footer img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

footer li:nth-of-type(2) {
    margin-right: 800px;
}



/* Prevent coolaps */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }