@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    border: none !important;
}

/* Defualt options for pages */
html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    color: #fff;
    background-color: #2F303A;
}

.container {
    position: relative;
    padding: 0;
    margin: 0;
    border: solid 1px blue;
    min-height: 100vh;
    z-index: 0;
}

/* Default options for links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: gray;
}

/* Logo and navigation */
header {
    margin: 25px auto;
    padding: 1em 3em 0;
    border: 1px solid red;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.brand-name-logo {
    margin-left: .9em;
    font-size: 2em;
    letter-spacing: 3px;
}


ul > li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
    font-size: 1.5em;
}


/**
       Index style page
**/


/* Girl and text of page "feel the music...*/


.mainIndex{
    margin: 0 auto;
    /* padding: 0; */
    max-width: 1700px;
    border: 1px solid white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-content:space-around; */
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    /* min-height: calc(100vh - 1183px); */

}

.landpage-girl {
    margin-left: 120px;
    /* position: relative; */
}


.landpage-girl, .landpage-girl img  {
    margin-right: 120px;
    border: 1px solid greenyellow;
    max-width: 500.91px;
    padding: 0;
    order: 1;

}

.landpage-girl img {
    border: 1px solid red;

}

.introduction {
    padding: 0 0 200px;
    flex-grow: 4;
    text-align: center;
    order: 2;
    border: 1px solid yellow;
    z-index: 0;
}

 .introduction2 {
    border: 1px solid greenyellow;
    margin-left: 150px;
}

h1 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    letter-spacing: 10px;
}

p {
    margin: 0 auto 1em;
    font-weight: 300;
    letter-spacing: .156em;
    font-size: 1.6875em;
}

/* Button for "Join now" */

.btn-join {
    margin: 10px auto 0;
    padding: 8px 108px;
    background-color: #1762A7;
    color: #fff;
    font-size: 1.6875em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.btn-join:focus {
    outline: 0;
}

.btn-join:hover {
    background-color: #1b7cd8;
    color: rgb(221, 221, 221);
}

/* Bubbles */

.bubbleBlue1 {
    top: 15%;
    left: 48%;
    position: absolute;
    padding: 120px;
    /* border: 10px solid #1762A7; */
    border-radius: 200px;
    background-color: rgba(23, 98, 167, 0.1);
    z-index: -1;
}

.bubbleBlue2 {
    top: 72%;
    right: -3%;
    position: fixed;
    padding: 200px;
    border-radius: 200px;
    background-color: rgba(23, 98, 167, 0.1);
    z-index: -1;
}

.bubblePink1 {
    padding: 150px;
    position: fixed;
    top: -9%;
    right: -2.5%;
    background-color: rgba(188, 58, 128, 0.1);
    border-radius: 200px 0 180px 200px;
    z-index: -1;
}

.bubblePinkGirl {
    padding: 154px;
    background-color: rgba(188, 58, 128, 0.1);
    position: absolute;
    top: 49%;
    left: 4%;
    border-radius: 200px;
    z-index: -1;
}


/**
    Feature style page
**/

.mainFeature {
margin: 100px auto 0;
    /* padding: 0; */
    max-width: 1700px;
}

footer {
    padding: 20px;
    background-color: #282830;
}


/* Prevent coolaps */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }